/* ESTILO + CONFIGURAÇÕES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --corBranca: #F9F9F9;
    --corCinzaClaro: #F5F5F5;
    --corPreta: #000000;
    --corVermelha: #E50914; 
    --corSecundaria: #E50914;
    --corTercearia: #680E16;
    --corCinza: #242020;
    --corHeader: #0F1014;
    --corWhatsapp: #0ba506;
    --corParagrafo: rgba(226, 226, 226, 0.5);
    --corFAQ: #0c0c0c;
    

    --fontePadrao: "Geist", sans-serif;
    --fonteDestaque: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.divisor {
  width: 100%;
  height: 1.5px;
  background-color: var(--corCinza);
}